<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--			No favicon for now
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
-->
        <title>Portail</title>
    </head>

	<body onload=openTab("{{ current_tab }}")>

        {% include 'header.html' %}

        {% include 'liens.html' %}
        {% include 'jukebox.html' %}
        {% include 'inspirobot.html' %}

        {% include 'footer.html' %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script src="{{ url_for('static', filename='scripts/opentab.js') }}"></script>
    </body>
</html>
