<header class="container">
    <div class="container-fluid"><div class="row">
        <div class="row">
            <a href="/"><h1 class="display-3">Portail du Club Jeux</h1></a>
        </div>
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">
                 <li class="nav-item">
                     <a class="nav-link" href="/?tab=Liens">Liens</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/game/">Jeux</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/?tab=Jukebox">Jukebox</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/?tab=Inspirobot">Inspirobot</a>
                 </li>
             </ul>
        </nav>
    </div>
</header>