<div id="Jukebox" class="tab">
    <div class="container">
        <h2>Controle du Jukebox</h2>
        <div class="row m-1">
            <p>
            Le <a href="{{ jukebox_address }}">jukebox</a> du CJ, qui permet aux membres de passer des musiques dans le local en les ajoutant à une playlist partagée.
            </p>
        </div>

        <h3>Statut :</h3>
        <div class="row m-2 mb-4">
            <ul class="list-inline">
                <li class="list-inline-item">
                    Tmux
                {% if status['juk_tmux'] == "running" %}
                    <span class="badge badge-success">Démarré</span>
                {% else %}
                    <span class="badge badge-danger">Stoppé</span>
                {% endif %}
                </li>
                <li class="list-inline-item">
                    Server
                {% if status['juk_server'] == "ok" %}
                    <span class="badge badge-success">Démarré</span>
                {% else %}
                    <span class="badge badge-danger">Stoppé</span>
                {% endif %}
                </li>
            </ul>
        </div>

        <div class="row m-2">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/juk-start/{{ name }}" class="btn btn-primary">Démarrer le jukebox</a>
                </li>
                <li class="list-inline-item">
                    <a href="/juk-stop/{{ name }}" class="btn btn-outline-primary">Arreter le jukebox</a>
                </li>
                <li class="list-inline-item">
                    <a href="/juk-restart/{{ name }}" class="btn btn-outline-primary">Redémarrer le jukebox</a>
                </li>
            </ul>
        </div>
    </div>
</div>
