<div id="Liens" class="tab">
    <div class="container">
	    <h2>Liens vers les services du CJ</h2>

        <ul class="list-group">
            <li class="list-group-item border-0">
                <a class="btn btn-outline-primary" href="{{ jukebox_address }}">Jukebox</a>
            </li>
            <li class="list-group-item border-0">
                <a class="btn btn-outline-primary" href="{{ bdd_address }}">Base de données des livres du club jeux</a>
            </li>
            <li class="list-group-item border-0">
                <a class="btn btn-outline-primary" href="https://discord.gg/BwXwjbp">Discord</a>
            </li>

        </ul>
    </div>
</div>

